/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body {
    font-family: 'Open Sans', sans-serif;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #FFF;
    font-weight: 300;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/pexels-tyler-lastovich-808465.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(90%);
}

h1 {
    padding-block: .5em;
}

.hero-title {
    font-size: 3em;
}

.hero-content {
    position: relative;
    text-align: center;
}

.hero-btn {
    border-radius: 100px;
    padding: .75em 1.5em;
    border: none;
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 1128px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

p {
    /* font-weight: bold; */
    padding-block-start: .5em;
}

.nav {
    /* display: none; */
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    background-color: #FFF;
    color: #000;
    padding: 1em;
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
}

.nav__link {
    font-weight: 300;
    text-transform: uppercase;
    font-size: .75rem;
    /* padding-inline: 1em; */
}

.section {
    margin: 2em auto;
    padding-block: 6em;
    padding-inline: 2em;
    border: 3px solid coral;
    /* height: 100vh; */
}

.section__about {
    padding-inline: 0;
}

.section__title {
    padding-inline: 2em;
    text-align: center;
}

.section__text {
    padding: 2em;
    font-weight: 300;
}

.footer {
    text-align: center;
    padding-block-end: 2em;
}

@media (min-width: 700px) {
    .section__text {
        width: 75%;
    }

    .section__text * + * {
        padding-block-start: 2em;
    }
}